<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="chat.css">
    <script src="https://kit.fontawesome.com/0bdc55090c.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="main">
                    <div class="group">
                        <div class="groupheader">
                            <div class="grouplogo">Groups</div>
                            <button id="groupbtn" class="btn btn-success">Add</button>
                        </div>
                    </div>
                    <div class="chatscreen">
                        <div class="header">
                            <div class="logo">Chats</div>
                            <button id="exitchatbtn" class="btn btn-success">Exit</button>
                        </div>
                        <div class="messages">
                            <div class="my-message">
                                <div>
                                    <div class="name">You</div>
                                    <div class="text">Hi</div>
                                </div>  
                                <div>
                                    <div class="update"> Abc joined the chat</div>
                                    <div class="other-message">
                 
                        </div>
                        <div class="typebox">
                                <i class="fa-brands fa-squarespace" id="sendfilebtn"></i>
                                <input type="text" id="messageinput" class="form-control" placeholder="Send a message" >
                                <i class="fa-regular fa-paper-plane" id="sendbutton"></i>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div> 
</body>
</html>